.om-button {
  background-color: #ff0000;
  color: white;

  font-size: 2em;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 0px;
  outline: none;
  border: none;
}
.om-button:hover {
  color: black;
}

.about-txt {
  display: none;
}

.about-txt.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  font-size: 1.5em;
  pointer-events: none;
  background-color: #ff0000;
  color: #ffe2ee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
}

.pm {
  margin-top: 20px;
  width: 60%;
}
