* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.App {
  text-align: center;
  background-color: #ffe2ee;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
  color: #630000;
  height: 100vh;
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
}

.skier {
  width: 80px;
}

.logo {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.spacing {
  height: 50px;
}
@media (max-width: 740px) {
  .logo {
    width: 200px;
  }
}
