* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
}

.App {
  background-color: #ffe2ee;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
  color: #630000;
}
.main-section {
  font-size: 2em;
  padding-bottom: 100px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.skier {
  width: 80px;
}

.logo {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.spacing {
  height: 50px;
}

.footer {
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 4em;
  color: #ffe2ee;
}

/* @keyframes sweater {
  0% {
    opacity: 1;
    fill: red;
  }

  95% {
    opacity: 0;
    fill: blue;
  }
  100% {
    fill: tan;
  }
}
.sweater {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: sweater;
} */

@media (max-width: 740px) {
  .logo {
    width: 250px;
  }
}
