.img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: red;
  padding-bottom: 20px;
  padding-top: 40px;
}

.single-img-container {
  width: 100%;
  padding-bottom: 20px;
}

.single-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.img-box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: slateblue;
  position: relative;
}

@media screen and (min-width: 800px) {
  .img-container {
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

  .single-img-container {
    width: 32%;
  }
}
